:root{
    --cor-fundo:#c91a1a;
    --cor-principal:#ffffff;
    --cor-secundária: #06090a;
    --cor-destaque:#263aeb;
    --cor-texto:#000000;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}